### Датасет "Сорта бананов"

Идея: определить сорт банана исходя из его длины, цвета кожуры и цвета мякоти, в значениях были искусственно созданы пропуски

In [1]:
import numpy as np
import pandas as pd
import random

In [42]:
cavendish_sm = [random.randint(15, 25) + np.random.random_sample() for i in range(100)]
cavendish_skin = np.random.choice([1017, 1018, 1019, 1020, 1021, 1023, 1005], 100).reshape(1, 100)
cavendish_pulp = np.random.choice([1013, 9001], 100).reshape(1, 100)
cavendish = ['cavendish' for i in range(100)]
data_cav = pd.DataFrame({'length': cavendish_sm, 'skin_color': cavendish_skin[0], \
                         'pulp_color': cavendish_pulp[0], 'banana_type': cavendish})

In [43]:
baby_sm = [random.randint(5, 8) + np.random.random_sample() for i in range(100)]
baby_skin = np.random.choice([1026, 1016, 1021], 100).reshape(1, 100)
baby_pulp = np.random.choice([9001, 9010, 9016, 1013], 100).reshape(1, 100)
baby = ['baby' for i in range(100)]
data_baby = pd.DataFrame({'length': baby_sm, 'skin_color': baby_skin[0], \
                         'pulp_color': baby_pulp[0], 'banana_type': baby})

In [44]:
ice_cream_sm = [random.randint(17, 22) + np.random.random_sample() for i in range(100)]
ice_cream_skin = np.random.choice([1015, 1016, 6034, 6027, 5012], 100).reshape(1, 100)
ice_cream_pulp = np.random.choice([4009, 1013, 1015], 100).reshape(1, 100)
ice_cream = ['ice_cream' for i in range(100)]
data_ice = pd.DataFrame({'length': ice_cream_sm, 'skin_color': ice_cream_skin[0], \
                         'pulp_color': ice_cream_pulp[0], 'banana_type': ice_cream})

In [45]:
gro_michelle_sm = [random.randint(15, 25) + np.random.random_sample() for i in range(100)]
gro_michelle_skin = np.random.choice([1021, 1018, 1026], 100).reshape(1, 100)
gro_michelle_pulp = np.random.choice([1015, 1013, 9001, 9010], 100).reshape(1, 100)
gro_michelle = ['gro_michelle' for i in range(100)]
data_mich = pd.DataFrame({'length': gro_michelle_sm, 'skin_color': gro_michelle_skin[0], \
                         'pulp_color': gro_michelle_pulp[0], 'banana_type': gro_michelle})

In [46]:
earthy_sm = [random.randint(22, 27) + np.random.random_sample() for i in range(100)]
earthy_skin = np.random.choice([1021, 1026, 1018, 1016], 100).reshape(1, 100)
earthy_pulp = np.random.choice([1028, 1033, 1017, 1014, 1003], 100).reshape(1, 100)
earthy = ['earthy' for i in range(100)]
data_earth = pd.DataFrame({'length': earthy_sm, 'skin_color': earthy_skin[0], \
                         'pulp_color': earthy_pulp[0], 'banana_type': earthy})

In [47]:
burro_sm = [random.randint(12, 15) + np.random.random_sample() for i in range(100)]
burro_skin = np.random.choice([1020, 6018], 100).reshape(1, 100)
burro_pulp = np.random.choice([1028, 1033, 1014], 100).reshape(1, 100)
burro = ['burro' for i in range(100)]
data_bur = pd.DataFrame({'length': burro_sm, 'skin_color': burro_skin[0], \
                         'pulp_color': burro_pulp[0], 'banana_type': burro})

In [48]:
green_sm = [random.randint(15, 20) + np.random.random_sample() for i in range(100)]
green_skin = np.random.choice([6038, 6037, 6032, 6001], 100).reshape(1, 100)
green_pulp = np.random.choice([1017, 1014, 1003], 100).reshape(1, 100)
green = ['green' for i in range(100)]
data_green = pd.DataFrame({'length': green_sm, 'skin_color': green_skin[0], \
                         'pulp_color': green_pulp[0], 'banana_type': green})

In [52]:
data = pd.concat([data_cav, data_baby, data_ice, data_mich, data_bur, data_green])
data = data.reset_index(drop=True)

In [53]:
for _ in data.columns:
    data.loc[np.random.randint(0, len(data)-1, int(0.1*len(data))), _] = np.nan

In [54]:
data.isna().sum()

length         56
skin_color     55
pulp_color     58
banana_type    58
dtype: int64

In [55]:
data = data.sample(frac=1).reset_index(drop=True)
data

        length  skin_color  pulp_color   banana_type
0     8.834785      1026.0      9010.0          baby
1    23.635206      1021.0      1013.0  gro_michelle
2     7.039562      1016.0         NaN          baby
3    25.837558         NaN      1013.0           NaN
4    22.356693      6027.0         NaN           NaN
..         ...         ...         ...           ...
595  22.430757      1016.0      4009.0     ice_cream
596        NaN      1020.0      1033.0         burro
597  13.964511      1020.0      1028.0         burro
598  18.123804      1026.0      1015.0  gro_michelle
599  24.621036         NaN      1013.0     cavendish

[600 rows x 4 columns]

In [69]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier

In [62]:
data = data.dropna()
label = LabelEncoder()
label.fit(data.banana_type)
types = label.transform(data.banana_type)

In [63]:
data.banana_type = types
data

        length  skin_color  pulp_color  banana_type
0     8.834785      1026.0      9010.0            0
1    23.635206      1021.0      1013.0            4
5    21.333881      1021.0      9001.0            4
7    18.696304      1018.0      1013.0            2
8    17.046061      1026.0      9001.0            4
..         ...         ...         ...          ...
593  23.080907      1023.0      9001.0            2
594   7.794586      1016.0      9016.0            0
595  22.430757      1016.0      4009.0            5
597  13.964511      1020.0      1028.0            1
598  18.123804      1026.0      1015.0            4

[396 rows x 4 columns]

In [66]:
x_train, x_test, y_train, y_test = train_test_split(data.drop(['banana_type'], axis=1), data.banana_type, test_size=0.2)

In [71]:
model = DecisionTreeClassifier()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [98]:
from sklearn.metrics import classification_report
print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        17
           1       1.00      1.00      1.00        14
           2       0.77      0.83      0.80        12
           3       1.00      1.00      1.00        13
           4       0.83      0.77      0.80        13
           5       1.00      1.00      1.00        11

    accuracy                           0.94        80
   macro avg       0.93      0.93      0.93        80
weighted avg       0.94      0.94      0.94        80

In [97]:
x = np.array([17, 1020, 1013]).reshape(1, -1)
label.inverse_transform(model.predict(x))

array(['cavendish'], dtype=object)

Действительно работает)

В этом задании можно было бы более аккуратно отнестить к обработке пропусков, например:
Восстановить признаки по трем остальным (вместе с ключевой меткой) обучив модель дерева решений