In [9]:
import pandas as pd
import os

In [17]:
log = pd.read_csv('visit_log.csv', sep=';')

In [12]:
# Задание №1
log.loc[(log.region == 'Russia')|( log.traffic_source == ('yandex', 'google')), 'source_type'] = 'organic'
log.loc[(log.region == 'Russia')|( log.traffic_source == ('paid', 'email')), 'source_type'] = 'ad'
log.loc[(log.region != 'Russia')|( log.traffic_source == ('paid', 'email')), 'source_type'] = 'other'
log.loc[(log.traffic_source == 'Nan'), 'source_type'] = log.traffic_source

In [13]:
# Задание №2
news = pd.read_csv('URLs.txt')
news.loc[news.url.str.contains('\/\d{8}-')]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

In [14]:
# Задание №3
from pymystem3 import Mystem
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})
m = Mystem()

In [15]:
def lammantin(table):
    row = m.lemmatize(table.keyword)
    joined_row = ' '.join(row).strip()
    return joined_row
    
    

data['lemmas'] = data.apply(lammantin, axis=1)

In [16]:
data

                 keyword   shows                     lemmas
0    курс гривны к рублю  125076  курс   гривна   к   рубль
1        доллары в рубли  114173         доллар   в   рубль
2  100 долларов в рублях   97534   100   доллар   в   рубль
3             курс рубля   53546               курс   рубль