In [32]:
import pandas as pd
from datetime import datetime
import os

In [70]:
# Задание № 1
f = pd.read_csv('ratings.csv')

In [71]:
pv = f.pivot_table(index='userId', aggfunc = (max, min, 'count'))

In [72]:
def timeconv(row):
    return datetime.utcfromtimestamp(row['timestamp']['max']) - datetime.utcfromtimestamp(row['timestamp']['min'])

In [73]:
pv['difference'] = pv.apply(timeconv, axis=1)

In [79]:
pv[pv['rating']['count'] >= 100]['difference'].mean()

Timedelta('455 days 05:29:08.566539')

In [83]:
# Задание № 2
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [111]:
merged_data = client_base.merge(auto, how='left', on='client_id').merge(rzd, how='left', on='client_id').merge(air, how='left', on='client_id')

In [100]:
merged_data[['client_id', 'auto_revenue', 'rzd_revenue', 'air_revenue']]

   client_id  auto_revenue  rzd_revenue  air_revenue
0        111           NaN       1093.0          NaN
1        112           NaN       2810.0          NaN
2        113       57483.0      10283.0          NaN
3        114          83.0       5774.0          NaN
4        115         912.0        981.0         81.0
5        116        4834.0          NaN          4.0
6        117          98.0          NaN         13.0
7        118           NaN          NaN        173.0

In [101]:
merged_data

   client_id          address  auto_revenue  rzd_revenue  air_revenue
0        111  Комсомольская 4           NaN       1093.0          NaN
1        112   Энтузиастов 8а           NaN       2810.0          NaN
2        113  Левобережная 1а       57483.0      10283.0          NaN
3        114          Мира 14          83.0       5774.0          NaN
4        115        ЗЖБИиДК 1         912.0        981.0         81.0
5        116    Строителей 18        4834.0          NaN          4.0
6        117  Панфиловская 33          98.0          NaN         13.0
7        118     Мастеркова 4           NaN          NaN        173.0

In [ ]:
# Задание № 3
'''
В ответе хронология отсутствует, но на мой взгляд получилось исчерпывающе :)
 1) Известны координаты магазина, который посетил user, он мог не приобретать товар, присмотреться, к примеру google фиксирует
 факт посещения мест на карте, в т.ч. магазинов, и если эти данные можно запарсить, то их можно однозначно использовать, поскольку
 в этих данных фиксируется время посещения.
 Далее можно проследить местоположение магазина, в котороом была соврешена первая покупка, установить область, в которой
 покупатель заходил в магазины:
     1.1) Область по своей форме должна стремиться к форме круга, и/или расстояние между узлами должно быть минимально в т.ч.
         с учетом времени, таким образом можно определиться с тем, что магазины расположены достаточно удобно для конкретного
         user'а
     1.2) В случае совершения повторных покупок определяется именно те магазины, в которых user был чаще всего, из этого можно
         сделат вывод, что сами магазины более привлекательны внешне, в сервисном плане, или ближе расположены к дому, хотя, подозреваю,
         что домашний адрес user'а нам неизвестен
     1.3) Разброс координат посещения магазинов, особенно в будние дни скорее всего покажет расстояние от дома к работе, хотя
          такой сценарий и маловероятен
'''